@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: futura;
  font-style: normal;
  /* font-weight: 400; */
  font-display: swap;
  src: url('/fonts/170818075532Futura.woff') format('woff');
}
@font-face {
  font-family: futura-book;
  font-style: normal;
  /* font-weight: 400; */
  font-display: swap;
  src: url('/fonts/170818080608Futura-Book.woff') format('woff');
}
@font-face {
  font-family: futura-light;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/170818080630Futura-Light.woff') format('woff');
}
@font-face {
  font-family: futura-heavy;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/170818080619Futura-Heavy.woff') format('woff');
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 84% 5%;
    --foreground: 210 40% 98%;
    --card: 240 84% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 259 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 261 33% 17%;
    --muted-foreground: 266.4deg 18.24% 59.73%;
    --accent: 273 33% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 277.9 32.6% 17.5%;
    --input: 277.9 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: futura-book, sans-serif;
  }
}
